%p @jubaan
%ul.social
  %li.social__item
    = link_to 'https://www.github.com/jubaan', target: '_blank',
      class: 'social__link' do
      %i.fab.fa-github
  %li.social__item
    = link_to 'https://www.github.com/jubaan', target: '_blank',
      class: 'social__link' do
      %i.fab.fa-linkedin-in
  %li.social__item
    = link_to 'https://www.github.com/jubaan', target: '_blank',
      class: 'social__link' do
      %i.fab.fa-twitter
  %li.social__item
    = link_to 'https://www.github.com/jubaan', target: '_blank',
      class: 'social__link' do
      %i.fab.fa-whatsapp
