%main.bg-hero
  .blur
  .container
    %p.hero__title
      I'm
      %span.hero__name Julio Añoveros
      %br
      a Remote Full Stack Web Developer.
    %hr.separator
    %p.hero__description
      If you're looking for a
      %span.frontend front-end
      \/
      %span.backend back-end
      developer
      %br
      to bring an idea to life send me a message.
    .hero__contact.d-flex
      %p.hero__email julio.ab@outlook.com
      %p.hero__whatsapp +52 722 897 4711
    = link_to 'Contact', class: 'availability' do
      %i.fas.fa-circle.available
      Available for Work / Freelance


