%main.bg-hero
  .container
    %p.hero__title
      I'm Julio Añoveros
      %br
      a Remote Full Stack Web Developer.
    %p.hero__description
      If you're looking for a web developer to
    %p.hero__hashtag #OpenToWork
    .hero__contact.d-flex
      %p.hero__email julio.ab@outlook.com
      %p.hero__whatsapp +52 722 897 4711
    = link_to 'Contact', class: 'availability' do
      %i.fas.fa-circle.available
      Available for Work / Freelance


